.welcome-message{
  display: block;
	margin-top: var(--space-smaller);
	font-size: 18px;
	position: relative;
	text-align: center;
	font-family: arvo;
	color:#c38e70;
	font-style: italic;
}

@media (max-width: 631px){
  .welcome-message{
    font-size: 12px;
  }
}

.card {
  background-color: #fff1e6;
  object-fit: cover;
  width: 170px;
  height: 200px;
  box-sizing: border-box;
  box-shadow: -10px 15px 19px 0 rgba(233, 141, 141, 0.2);
  transition: 0.3s;
  opacity: 90%;
  border-radius: 5px;
}

@media (max-width: 410px ){
  .cards-dev {
    margin-bottom: 20px;
    padding-left: 3%;
  }

}
@media (min-width: 411px ){

 .card{
  transform: scale(.9);
  transform: translate(12%,0%);

 }
  .welcome-message{
    max-width: 72%;
    transform: translate(20%,0%);
  }
  .cards-dev{
    max-width: 100%;
  }

}

@media (min-width: 768px ){
  .cards-dev{
    padding-right: 1%;
    max-width: 100%;
  }
  .card{
    padding-left: 10px;
    max-width: 100%;
  }

  .welcome-message{
    max-width: 80%;
  }
}

