.footer {
	background-color: #c38e70;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	overflow: hidden;
}

.footer .social-icons {
	text-align: center;
	padding: 10px 2px;
}
.footer .social-icons a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
}

.social-icons li {
	display: inline-block;
	margin-bottom: 4px;
}
.social-icons a {
	background-color:  #fff1e6;;
	color: black;
	font-size: 16px;
	display: inline-block;
	width: 44px;
	height: 44px;
	text-align: center;
}

.social-icons a.facebook:hover {
	box-shadow: -5px 5px 5px 0px #729aee;
	background-color: #3b5998;
}
.social-icons a.facebook {
}
.social-icons a.instagram:hover {
	box-shadow: -5px 5px 5px 0px #ff58ca;
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
}


.social-icons a.mail:hover {
	box-shadow: -5px 5px 5px 0px #58deff;
	background-color: #007bb6;
}

